@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'LeferiPoint-WhiteObliqueA';
}

body{
    margin:0;

    background-image: url(ian-battaglia-TAswQnt641A-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    text-align: center;
    margin: 0;
    width: 240px;
    padding-left: 0;
    border-right:1px solid grey;
}
li{
    list-style-type: none;
    margin:20px 0 20px 0;
    font-size: 20px;
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 40px;
    border-bottom:1px solid grey;
}
h2{
    font-size: 58px;
    margin-top:50px;
    margin-bottom:140px;
}
h3{
    margin: 40px;
    font-size: 22px;
}
h4{
    font-size: 25px;
    margin-bottom: 45px;
}
.grid{
    display: grid;
    grid-template-columns: 320px 1fr;
}
.grid .article{
    padding-left: 0px;
}
.north{
    margin-top: 50px;
}
p{
    font-size: 20px;
    margin-right: 85px;
    margin-bottom: 70px;
}

.bn632-hover {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn21 {
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }