@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1, h2{
    font-family: 'LeferiPoint-WhiteObliqueA';
}

body{
    margin: 0;
    background-image: url(ian-battaglia-TAswQnt641A-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 50px
}

h1 a{
    text-decoration: none;
    color: white;
}

h2{
    font-size: 58px;
    margin-top:50px;
}

h4{
    font-size: 25px;
    margin-bottom: 45px;
}

p{
    font-size: 20px;
    margin-right: 85px;
    margin-bottom: 70px;
}

.content{
    margin-left: 100px;
    margin-right: 100px;
}

ul{
    list-style-type: none;
    background-color: rgb(161, 161, 161);
    overflow: auto;
    margin: 0;
    padding-left: 420px;
    padding-right: 420px;
}

li{
    float: left;   
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover{
    background-color: rgb(173, 173, 173);
}

.dropdown{
    display: inline-block;
    font-size: 20px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 12px 16px;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}



.bn632-hover {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn21 {
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }

  @media(max-width:900px){
    .grid{
        display: block;
    }
    h1{
        border-bottom: none;
    }
    ul{
        border-right: none;
    }
    body{
        text-align: center;
        
    }
    body p{
        margin: 50px;
    }
    
  }