body{
    margin:0;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    text-align: center;
    margin: 0;
    width: 200px;
    padding-left: 0;
    border-right:1px solid black;
}
li{
    list-style-type: none;
    margin:20px 0 20px 0;
    font-size: 20px;
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 40px;
    border-bottom:1px solid black;
}
h2{
    font-size: 58px;
    margin-top:50px;
    margin-bottom:140px;
}
h3{
    margin: 40px;
    font-size: 22px;
}
h4{
    font-size: 25px;
    margin-bottom: 45px;
}
.grid{
    display: grid;
    grid-template-columns: 310px 1fr;;
}
.grid .article{
    padding-left: 0px;
}
.north{
    margin-top: 50px;
}
p{
    font-size: 20px;
    margin-right: 85px;
    margin-bottom: 70px;
}
